<html ng-app="sipStack">
<head>
    <title>SIP Devices</title>
    <script src='/socket.io/socket.io.js'></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="socket.min.js"></script>
    <script src='mainCtrl.js'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="content" ng-controller="sipMain">
        <button class="btn btn-primary" ng-click="refreshAll()">Refresh All</button>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>IP</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="server in servers" class="repreated-item">
                <td>{{server.name}}</td>
                <td>{{server.ip}}</td>
                <td>
                    <span class='label' ng-class="!server.show? 'rotating' : ''" ng-show="server.show" ng-class="getStatusClass(server.status)">{{server.status}} </span>
                    <span class='label label-warning' ng-show="server.show">Fetching info</span>
                </td>
                <td><a class="btn btn-xs" ng-show="server.show" ng-click="refreshOne(server)"><span class="glyphicon glyphicon-refresh text-warning icon-refresh icon-refresh-animate rotating"></span></a></td>
            </tr>
        </table>
    </div>
    

</body>
</html>
